{% extends 'base_main.html' %}
{% block title %}
天天生鲜-购物车
{% endblock %}

{% block content %}


	<div class="total_count">全部商品<em>2</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
    {% for goods in result %}
	<ul class="cart_list_td clearfix" id="goods_{{ goods.0.id }}">
		<li class="col01"><input type="checkbox" name="" {% if goods.2 %} checked {% endif %} onclick="change_cart1({{ goods.0.id }},{{ goods.2 }});"></li>
		<li class="col02"><img src="/media/{{ goods.0.goods_front_image }}"></li>
		<li class="col03">{{ goods.0.name }}<br><em>{{ goods.0.price }}</em></li>
		<li class="col04">500g</li>
		<li class="col05" id="price_{{ goods.0.id }}">{{ goods.0.shop_price }}</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl"
                   onclick="add_cart({{ goods.0.id }});">+</a>
				<input type="text" class="num_show fl"  id="num_show_{{ goods.0.id }}" value="{{ goods.1 }}">
				<a href="javascript:;" class="minus fl" onclick="sub_cart({{ goods.0.id }});">-</a>
			</div>
		</li>
		<li class="col07" id="total_price_{{ goods.0.id }}">{{ goods.3 }}</li>
		<li class="col08"><a href="javascript:;" onclick="del_cart({{ goods.0.id }});">删除</a></li>
	</ul>

	{% endfor %}

	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked=""></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em>42.60</em><br>共计<b>2</b>件商品</li>
		<li class="col04"><a href="{% url 'order:place_order' %}">去结算</a></li>
	</ul>
    {% csrf_token %}
    <script>
        <!--刷新价格/件数-->
        function cart_price(){
            $.get('/cart/cart_price/', function(data){
                if(data.code == '200'){
                    $('.total_count em').html(data.all_total)
                    $('.settlements .col03 em').html(data.all_price)
                    $('.settlements .col03 b').html(data.is_select_num)
                }
            })
        }
        cart_price()

        <!--添加商品数量-->
        function add_cart(id){
            var num = $('#num_show_' + id).val()
            var new_num = parseInt(num) + 1
            $('#num_show_'+id).val(new_num)
            change_cart(id, new_num)
        }
        <!--减少商品数量-->
        function sub_cart(id){
            var num = $('#num_show_' + id).val()
            if(parseInt(num) > 1){
                var new_num = parseInt(num) - 1
                $('#num_show_' + id).val(new_num)
                change_cart(id, new_num)
            }
        }

        <!--修改数量或选择状态-->
        function change_cart(id, new_num){
            var a = $('#price_' + id).html()
            var b = parseInt(a)*new_num
            $('#total_price_' + id).html(b)
            var csrf = $('input[name="csrfmiddlewaretoken"]').val()
            $.ajax({
                url:'/cart/change_cart/',
                type:'POST',
                data:{'goods_id':id, 'goods_num': new_num},
                headers:{'X-CSRFToken': csrf},
                dataType:'json',
                success:function(data){
                    <!--刷新数量/总价/件数-->
                    cart_price()
                },
                error:function(data){
                }
            })
        }




        <!--删除购物车中的商品-->
        function del_cart(id){
            var csrf = $('input[name="csrfmiddlewaretoken"]').val()
            $.ajax({
                url:'/cart/del_cart/',
                type:'post',
                data:{'goods_id':id},
                headers:{'X-CSRFToken': csrf},
                dataType:'json',
                success:function(data){
                    <!--刷新数量/总价/件数-->
                    cart_price()
                    $('#goods_'+id).remove()
                    cart_fresh()
                },
                error:function(data){
                }
            })
        }

		<!--删除购物车中的商品  第二种思路-->
		function del_cart2(id){
            var csrf = $('input[name="csrfmiddlewaretoken"]').val()
            $.ajax({
                url:'/cart/del_cart2/'+ id + '/',
                type:'post',
                headers:{'X-CSRFToken': csrf},
                dataType:'json',
                success:function(data){
                    console.log(data)
                    <!--#重新加载整个页面-->
                    <!--location.href='/cart/cart/'-->
                    <!--移除ul元素-->
                    cart_price()
                    $('#goods_'+id).remove()
                    cart_fresh()

                },
                error:function(data){
                    alert('失败')
                }

            })
        }






         <!--修改数量或选择状态-->
        function change_cart1(id,goods_select){
            var csrf = $('input[name="csrfmiddlewaretoken"]').val()
            $.ajax({
                url:'/cart/change_cart1/',
                type:'POST',
                data:{'goods_id':id, 'goods_select':goods_select},
                headers:{'X-CSRFToken': csrf},
                dataType:'json',
                success:function(data){
                    <!--刷新数量/总价/件数-->
                    window.location.reload()
                    cart_price()
                },
                error:function(data){
                }
            })
        }


    </script>


{% endblock %}
