{% extends 'base_main.html' %}

{% block title %}
	天天生鲜-首页
{% endblock %}

{% block js1 %}
	{{ block.super }}
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/slide.js"></script>

{% endblock %}

{% block content %}
	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="#model01" class="fruit">新鲜水果</a></li>
			<li><a href="#model02" class="seafood">海鲜水产</a></li>
			<li><a href="#model03" class="meet">猪牛羊肉</a></li>
			<li><a href="#model04" class="egg">禽类蛋品</a></li>
			<li><a href="#model05" class="vegetables">新鲜蔬菜</a></li>
			<li><a href="#model06" class="ice">速冻食品</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/images/slide.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide02.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide03.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide04.jpg" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="/static/images/adv01.jpg"></a>
			<a href="#"><img src="/static/images/adv02.jpg"></a>
		</div>
	</div>
    {% for data in result %}
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">
                {% for type in category_type %}
                    {% if type.0 == data.0.category_type %}
                        {{ type.1 }}
                    {% endif %}
                {% endfor %}

            </h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">

			<div class="goods_banner fl"><img src="/media/{{ data.0.category_front_image }}"></div>

			<ul class="goods_list fl">
                {% for i in data.1 %}
				<li onclick="add1({{ goods.0.id }})" id="good" name="good" >

					<h4><a href="{% url 'goods:detail' i.id %}">{{ i.name }}</a></h4>
					<a href="{% url 'goods:detail' i.id %}"><img src="/media/{{ i.goods_front_image }}"></a>
					<div class="prize">{{ i.shop_price }}</div>
				</li>
                {% endfor %}

			</ul>
			<script>
			function add1(id){





                $.ajax({
                url:'/cart/change_cart/',
                type:'POST',
                data:{'goods_id':id, 'goods_num': new_num},
                headers:{'X-CSRFToken': csrf},
                dataType:'json',
                success:function(data){
                    <!--刷新数量/总价/件数-->
                    click_num += 1
                },
                error:function(data){
                }
            })

            }



            </script>


		</div>
	</div>
    {% endfor %}


    {% endblock %}



