{% extends 'base_main.html' %}
{% block title %}天天生鲜-商品列表{% endblock %}

{% block content %}

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="{% url 'goods:list11' %}" class="fruit">新鲜水果</a></li>
					<li><a href="{% url 'goods:list12' %}" class="seafood">海鲜水产</a></li>
					<li><a href="{% url 'goods:list13' %}" class="meet">猪牛羊肉</a></li>
					<li><a href="{% url 'goods:list14' %}" class="egg">禽类蛋品</a></li>
					<li><a href="{% url 'goods:list15' %}" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="{% url 'goods:list16' %}" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for i in new_goods %}
					<li>
						<a href="#"><img src="/media/{{ i.goods_front_image }}"></a>
						<h4><a href="#">{{ i.name }}</a></h4>
						<div class="prize">￥{{ i.shop_price }}</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="{% url 'goods:list' %}" class="active">默认</a>
				<a href="{% url 'goods:list2' %}">价格</a>
				<a href="{% url 'goods:list3' %}">人气</a>
			</div>





			<ul class="goods_type_list clearfix">
                {% for g in goods %}
				<li>
					<a href="detail.html"><img src="/media/{{ g.goods_front_image }}"></a>
					<h4><a href="detail.html">{{ g.name }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ g.shop_price }}</span>
						<span class="unit">{{ g.shop_price }}/500g</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}
			</ul>

			<div class="pagenation">
				<a href="#"><上一页</a>
				<a href="#" class="active">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">下一页></a>
			</div>
		</div>
	</div>
{% endblock %}

