{% extends 'base_main.html' %}

{% block title %}
天天生鲜-提交订单
{% endblock %}

{% block search %}
	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;提交订单</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
	</div>
{% endblock %}

{% block content %}

	<h3 class="common_title">确认收货地址</h3>

	<div class="common_list_con clearfix">
		<dl>
			<dt>寄送到：</dt>
			{% for address in user_address %}
				<dd ><input type="radio" name="address_radio" value="{{ address.id }}" >
					{{ address.address }}
					({{ address.signer_name }} 收)
					{{ address.signer_mobile }}
				</dd>
			{% endfor %}
		</dl>
		<a href="{% url 'user:user_site' %}" class="edit_site">编辑收货地址</a>

	</div>

	<h3 class="common_title">支付方式</h3>
	<div class="common_list_con clearfix">
		<div class="pay_style_con clearfix">
			<input type="radio" name="pay_style" checked>
			<label class="cash">货到付款</label>
			<input type="radio" name="pay_style">
			<label class="weixin">微信支付</label>
			<input type="radio" name="pay_style">
			<label class="zhifubao"></label>
			<input type="radio" name="pay_style">
			<label class="bank">银行卡支付</label>
		</div>
	</div>

	<h3 class="common_title">商品列表</h3>

	<div class="common_list_con clearfix">
		<ul class="goods_list_th clearfix">
			<li class="col01">商品名称</li>
			<li class="col02">商品单位</li>
			<li class="col03">商品价格</li>
			<li class="col04">数量</li>
			<li class="col05">小计</li>
		</ul>

		{% for cart in carts %}
		<ul class="goods_list_td clearfix">
			<li class="col01">{{ cart.id }}</li>
			<li class="col02"><img src="/media/{{ cart.goods.goods_front_image }}"></li>
			<li class="col03">{{ cart.goods.name }}</li>
			<li class="col04">500g</li>
			<li class="col05">{{ cart.goods.shop_price }}</li>
			<li class="col06">{{ cart.nums }}</li>
			<li class="col07">{{ cart.goods_price }}</li>
		</ul>
		{% endfor %}

	</div>

	<h3 class="common_title">总金额结算</h3>

	<div class="common_list_con clearfix">
		<div class="settle_con">
			<div class="total_goods_count">共<em>{{ length }}</em>件商品，总金额<b>{{ total_price }}</b></div>
			<div class="transit">运费：<b>10元</b></div>
			<div class="total_pay">实付款：<b>{{ total_price | add:'10'}}</b></div>
		</div>
	</div>

	<div class="order_submit clearfix">
		<a href="javascript:;" id="order_btn">提交订单</a>
	</div>
{% endblock %}

{% block js2 %}
    {% csrf_token %}
	<div class="popup_con">
		<div class="popup">
			<p>订单提交成功！</p>
		</div>

		<div class="mask"></div>
	</div>
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript">
		$('#order_btn').click(function() {
			localStorage.setItem('order_finish',2);
			<!--先判断是否选择收货地址-->
			var address_radio = $('input[name = "address_radio"]')
			for(var i=0; i<address_radio.length;i++){
				if(address_radio[i].checked == true){
					var ad_id = address_radio[i].value;
				}

			}
			if(ad_id){
				<!--创建订单-->
				var csrf = $('input[name="csrfmiddlewaretoken"]').val()

                $.ajax({
                    url:'/order/order/',
                    type:'POST',
                    data:{'ad_id':ad_id},
                    dataType:'json',
                    headers:{'X-CSRFToken':csrf},
                    success:function(data){
                        $('.popup p').text('提交订单成功')
						$('.popup_con').fadeIn('fast', function() {

                            setTimeout(function(){
                                $('.popup_con').fadeOut('fast',function(){
                                    window.location.href = '/goods/index/';
                                });
                            },3000)

                        });

                    },
                    error:function(data){
                        $('.popup p').text('提交订单失败')
                    }

                })
			}else{
				<!--修改弹窗内容"提交订单失败(请选择收货地址)"-->
				$('.popup p').text('提交订单失败(请选择收货地址)')
				$('.popup_con').fadeIn('fast', function() {

				setTimeout(function(){
					$('.popup_con').fadeOut('fast',function(){
						<!--window.location.href = 'index.html';-->
					});
				},3000)

			});
		}
	});


	</script>
{% endblock %}
